<h1>Alumnos Curso List</h1>

<app-filter-curso (idSelectedCourso)="filterCurse($event)"></app-filter-curso>
<table class="table">
  <thead>
  <th>Name</th>
  <th>Street</th>
  <th>Date</th>
  <th>Curso</th>
  <th>Aula</th>
  </thead>
  <tbody>
  <tr *ngFor="let alumno of alumnosToShow">
    <td>{{alumno.name | alumnoTitulo:alumno.gender}}</td>
    <td>{{alumno.street}}</td>
    <td>{{alumno.date | date:'dd-MMM-y'}}</td>
    <td>{{alumno.curso.nombreCurso}}</td>
    <td>{{alumno.curso.localizacion}}</td>
  </tr>
  <tr *ngIf="this.alumnosToShow.length == 0">
    <td class="col-error" colspan="5">No hay alumnos</td>
  </tr>
  </tbody>

</table>
