

.THIS table, .THIS th, .THIS td {
  border: 1px solid black;
  border-collapse: collapse;
}

.THIS td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 48pt;
}
