<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="employee" class="Employee">

		<property name="emp_id" value="89"/>
		<property name="emp_fname" value="Daniel Ubalde"/>
		<property name="emp_city" value="Zaragoza"/>
	</bean>
</beans>