<h1>Buttons</h1>
<button class="color" [disabled]="disableButton">class="color" [disabled]="buttonState"</button>
<br>
<button [class]="boldItalica">[class]="stylesDaniel"</button>
<br>
<button class="color bold italic">class="color bold italic"</button>
<br>
<button class="color bold italic">class="color bold italic"</button>
<br>
<button class="color bold italic" [class.bold]="applyBold">class="color bold italic" [class.bold]="applyBold"</button>
<br>
<button [ngClass]="applyStyleClasses()">[ngClass]="addStyleClasses()"</button>
