<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="department" class="Department">

		<constructor-arg index="0" value="101"/>
		<constructor-arg index="1" value="Tecnico"/>
		<constructor-arg index="2">
			<map>
				<entry key="Senior Manager" value="Java Code Geek" />
				<entry key="Manager" value="Daniel Atlas" />
				<entry key="Developer" value="Harry Potter" />
			</map>
		</constructor-arg>
	</bean>
</beans>