@{
    ViewBag.Title = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col">
      @Html.ActionLink("Cursos", "Index", "Curso")

    </div>
    <div class="col">
      @Html.ActionLink("Asignaturas", "Index", "Asignaturas")

    </div>
    <div class="col">
      @Html.ActionLink("Etapas", "Index", "Etapas")

    </div>
  </div>
</div>