@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Marcas", "Index", "Marca")
</div>

<div>
    @Html.ActionLink("Vehiculos", "Index", "Vehiculo")
</div>

<div>
    @Html.ActionLink("Series", "Index", "Series")
</div>